<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
            <h3>Create new listing</h3>
            <form action="/listings" method="POST" enctype="multipart/form-data" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="listing[title]" class="form-control" placeholder="Enter title" required>
                    <div class="invalid-feedback">
                        Please enter title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" class="form-control" placeholder="Enter description" required></textarea>
                    <div class="invalid-feedback">
                        Please enter description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <select name="listing[category]" class="form-control" required>
                        <option value="" disabled selected>Select Category</option>
                        <option value="Camping">Camping</option>
                        <option value="Farms">Farms</option>
                        <option value="Artic">Artic</option>
                        <option value="Boats">Boats</option>
                        <option value="Castles">Castles</option>
                        <option value="Pools">Pools</option>
                        <option value="Mountains">Mountains</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Trending">Trending</option>
                        <option value="Iconic Cities">Iconic Cities</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a category.
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image:</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please upload an image.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="text" name="listing[price]" class="form-control" placeholder="Enter price" required>
                        <div class="invalid-feedback">
                            Price should be valid.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" required>
                        <div class="invalid-feedback">
                            Country should be valid.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" required>
                    <div class="invalid-feedback">
                        Location should be valid.
                    </div>
                </div>
                        
                <button class="btn btn-dark add-btn mb-3">Create</button>
            </form>
            
        </div>
    </div>
</body>